@using Rookie.Mvc.Interface;

@inject IClaimsService ClaimsService
@{
    var userName = Context.Session.GetString("userName");
}

@if (string.IsNullOrEmpty(userName))
{
    <a href="@Url.Action("Index", "Login", new { area = "Identity" })" class="flex-c-m trans-04 p-lr-25">Login</a>
    <a href="@Url.Action("Index", "Register", new { area = "Identity" })" class="flex-c-m trans-04 p-lr-25">Register</a>
}
else
{
     <span class="flex-c-m trans-04 p-lr-25">Welcome, @userName</span>
     <a href="@Url.Action("LogoutUser", "Logout", new { area = "Identity" })" class="flex-c-m trans-04 p-lr-25">Log out</a>
}